.chat-sidebar {
  position: relative;
  width: 220px;
  min-width: 220px;
  height: 100%;
  background-color: #2F3136;
  display: flex;
  flex-direction: column;
}

.channel-name-container {
  max-width: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
}

.dm-name-container {
  max-width: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
}

.channel-name-container:hover {
  background-color: #25272A;
}

.channel-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
}

.dm-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 20px;
}

.channel-name {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: bold;
  font-size: 16px
}

#selected-channel {
  background-color: #40444B;
}

.channel-name:visited {
  color: white;
}

.plus-circle {
  height: 100%;
  position: absolute;
  left: 85%;
  cursor: pointer;
}

.channel-header {
  position: relative;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 5px;
}
.dm-header {
  position: relative;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 5px;
}

.channel-name-container::before {
  content: "\0023";
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-right: 10px;
}

// .dm-name-container::before {
//   content: "\25CF";
//   font-family: 'Roboto', sans-serif;
//   font-weight: 100;
//   color: #39E103;
//   margin-right: 10px;
// }

.channel-form-container {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

.dm-form-container {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.create-channel-header {
  font-size: 34px;
  line-height: 41px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-bottom: 0px
}

.create-dm-header {
  font-size: 34px;
  line-height: 41px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-bottom: 15px;

}

.channel-field {
  font-size: 15px;
  text-decoration: none;
  box-sizing: border-box;
  width: 80%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  position: relative;
  text-align: left;
}

.channel-input {
  display: block;
  padding: 15px;
  color: white;
  box-sizing: border-box;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: .25rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: 1px solid black;
  background-color: transparent;
}

.dm-input {
  display: block;
  padding: 15px;
  color: white;
  box-sizing: border-box;
  border-radius: .25rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: 1px solid black;
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
}

.dm-input:focus {
  outline: none;
  border: 1px solid #667BC4;
}

.search-container {
  width: 30%;
}

.search-item {
  color: white;
  padding: 20px 20px 20px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  border-top: 1px solid #4e525a;
  font-weight: 300;
  cursor: pointer;
}

.search-item:hover {
  background-color: #54565c;
}

.channel-input:focus {
  outline: none;
  border: 1px solid #7289DA;
}

.create-channel-info {
  font-family: 'Lato', sans-serif;
  color: #B9BBBE;
  font-weight: 400;
  margin-bottom: 50px;
  width: 80%;
}

#optional-purpose {
  display: inline-block;
  color: #B9BBBE;
  font-weight: 400;
}

.channel-submit {
  margin-right: 10px;
  box-sizing: content-box;
  padding: 15px;
  border-color: transparent;
  border-radius: .25rem;
  width: 150px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #7289DA;
  cursor: pointer;
}

.channel-cancel {
  box-sizing: content-box;
  display: inline;
  padding: 15px;
  border-color: transparent;
  border-radius: .25rem;
  font-weight: 700;
  font-size: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  cursor: pointer;
  box-shadow:inset 0px 0px 0px 1px #7289DA;
}

.channel-cancel:focus {
  outline: none;
}

.button-container {
  padding-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.channel-submit:hover {
  background-color: #667BC4;
}

.channel-submit:focus {
  outline: none;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #36393F;
  z-index: 9001;
}

.fas, .fa-times {
  color: #B9BBBE;
  font-size: 2rem;
  margin: 0 auto;
}


.esc-container {
  position: absolute;
  top: 5%;
  left: 93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  text-align: center;
  color: #B9BBBE;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.esc-container:hover {
  background-color: #23272A;
  border-radius: 50%;
}

.contents-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dm-contents-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-child {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.current-user-name {
  color: #B9BBBE;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

// .current-user-name:before {
//   content: '●';
//   color: #39E103;
//   font-size: 17px;
//   align-self: center;
// }

.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px
}

.status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.workspace-name {
  color: white;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

.workspace-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.join-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.join-message {
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.join-message-container {
  width: 100%;
  background-color: #2B2C31;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.join-message-channel {
  font-weight: 400;
}