.sub-btn-container {
  box-sizing: content-box;
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  flex-direction: row;
}

.delete-sub-btn-container {
  box-sizing: content-box;
  display: flex;
  padding: 20px;
}

.sub-btn {
  box-sizing: content-box;
  padding: 5px;
  border-color: transparent;
  border-radius: .25rem;
  width: 120px;
  font-weight: 700;
  font-size: 15px;
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #7289DA;
  cursor: pointer;
}

.delete-sub-btn {
  box-sizing: content-box;
  padding: 5px;
  border-color: transparent;
  border-radius: .25rem;
  width: 120px;
  font-weight: 700;
  font-size: 15px;
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #7289DA;
  cursor: pointer;
}

.sub-btn:hover {
  background-color: #667BC4
}

.delete-sub-btn:hover {
  background-color: #667BC4
}

.info-circle--details {
  font-size: 20px;
  margin: 0 auto;
}

.inactive-info {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.active-info {
  height: 30px;
  width: 30px;
  background-color: #2B2C31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .25rem;
}

.info-wrapper {
  display: flex;
  justify-content: center;
}

.info-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.details-right {
  display: flex;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #1C1E22;
  z-index: 1000;
  background-color: #36393F;
  width: 100%;
}

.chat-header-info {
  position: relative;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 25px;
  padding-top: 10px;
  height: 62px;
}

.fa-user {
  margin-top: 10px;
  font-size: 13px;
}

.subscriber-count {
  margin-left: 5px;
  margin-top: 15px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}

.chat-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logout-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px
}

.logout-btn:hover {
  color: #F04747;
}

.logout-btn {
  color: white;
  font-family: 'Lato', sans-serif;
  color: #B9BBBE;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #36393F;
  // align-items:stretch;
  // height: 100%;
  // max-height: 100vh;
  // overflow-y: auto;
  // overflow-x: hidden;
}
.message-list {
  overflow-y: auto;
  overflow-x: hidden;
  // min-height: calc(100% - 64px);
  width: calc(100% - 40px);
  padding-left: 25px
}
.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.chatroom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.chat-message-box {
  height: 100%;
  min-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100% - 80px);
}

.message {
  color: white;
  margin-top: 9px;
}

.message-header {
  display: flex;
  flex-direction: row;
}

.display-name {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: end;
  margin-right: 5px;
  font-weight: 400
}

.time {
  color: #828386;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  display: flex;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
}

.message-body {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-wrap: break-word;
}

.message-input-container {
  margin: 0 12px 0 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 490px;
  width: calc(100% - 50px);
}

.message-input {
  background-color: #484C52;
  border: none;
  border-radius: 5px;
  width: 100%;
  min-height: 40px;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.message-input:focus {
  outline: none;
}

.image-link {
  margin-top: 5px;
  max-width: 500px;
  max-height: 400px;
}

.message-list::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.message-list::-webkit-scrollbar-corner {
    background-color: transparent;
}

.message-list::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
}

.message-list::-webkit-scrollbar-track-piece {
    background-color: #2f3136;
    border: 3px solid #36393f;
    border-radius: 7px;
}

.message-list::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-color: #36393f;
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
}

