.nav-bar {
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #53585f;
  z-index: 100;
}

.nav-contents {
  position: absolute;
  bottom: 25%;
  left: 90%;
}

.get-started {
  background-color: #5AC5F0;
  padding: 10px;
  position: absolute;
  width: 100px;
  text-align: center;
  text-decoration: none;
  left: 100%;
  bottom: 5%;
  color: white;
  font-family: 'Roboto:', sans-serif;
  border-radius: .25rem;
  margin-left: 10px;
}

.login-btn {
  background-color: transparent;
  /* border: 1px solid grey; */
  box-shadow:inset 0px 0px 0px 1px grey;
  padding: 10px;
  position: absolute;
  width: 100px;
  text-align: center;
  text-decoration: none;
  right: 30%;
  bottom: 5%;
  color: white;
  font-family: 'Roboto:', sans-serif;
  border-radius: .25rem;
  margin-right: 5px;
}

.logo {
  margin: 0;
}