html {
  height: 100%;
}

.vsc-initialized {
  height: 100%;
}

#root {
  height: 100%;
}

#main-section {
  height: 100%;
}

.session-form-container {
  display: block;
  height: 100%;
  background-color: #23272A;
}

.session-form {
  display: block;
  box-shadow: 3px 0px 5px #1f1f1f;
  border-radius: .25rem;
  border-color: 1px solid #868686;
  box-sizing: border-box;
  position: absolute;
  width: 40%;
  text-align: center;
  background-color: #53585f;
  left: 35%;
  top: 15%;
  padding-top: 2%;
}

.session-input {
  color: white;
  box-sizing: border-box;
  padding: 10px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: .25rem;
  font-family: 'Roboto:', sans-serif;
  font-weight: 500;
  border: 1px solid #868686;
  background-color: #53585f;
}

.session-description {
  color: white;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1px;
  font-weight: 400;
  margin: 0 0 1rem;
  text-align: center;
}

.session-field {
  font-size: 15px;
  text-decoration: none;
  box-sizing: border-box;
  width: 80%;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative;
  text-align: left;
  left: 15%;
}

.session-flex {
  flex-direction: column;
  margin-top: 40px;
}

.session-submit {
  box-sizing: border-box;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 5px;
  border-color: transparent;
  border-radius: .25rem;
  width: 70%;
  font-weight: 700;
  font-size: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #7289DA
}

.conditional-session {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: lighter;
}